header {

	background: #049DD9;
	padding: 20px 0;
}
.caixa {
	position: relative;
	width:  940px;
	margin: 0 auto;

}

nav{

	position:  absolute;
	top: 110px;
	right: 0;
}
nav li {

	display: inline;
	margin: 0 0 0 15px;
}
nav a {

	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}
nav a:hover{
	color: #FFFFFF;
	text-decoration: underline;

}

main {

	width: 940px;
	margin: 0 auto;
}

form {

	margin:  40px 0;
}

form label, form legend {

	display: block;
	font-size: 20px;
	margin: 10px;

}
.input-padrao {

	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.checkbox {

	margin: 20px 0;
}
.falecomigo {

	display: inline-block;
	position:  absolute;
	top: 340px;
	left: 800px;
	padding: 30px 20px;

}
h2 {

	font-size: 25px;
	font-weight: bold;
	padding: 10px 0;
}
p {

	padding: 5px;
}
.local{

	width: 60%;

}
footer {

	text-align: center;
	background: #049DD9;
	padding: 20px;
	color: #FFFFFF;
	font-weight: bold;
}
.rodape-descricao {

	display: inline-block;
	padding: 10px 8px;
}
.redesociais{

	display: inline-block;
	vertical-align: baseline;

}
.face{
	
	position:  relative;

	bottom: -6px;
	width: 2.5%;
    

}
.insta {
	position:  relative;

	bottom: -1px;
    width: 1.7%;
    
}
.enviar{

	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 5s all;
	cursor: pointer;

}
.enviar:hover{

	background: darkorange;
	transform: scale(1.2);

}
table {

	display: inline-block;
	position:  absolute;
	top: 680px;
	left: 800px;
	padding: 30px 20px;
	margin: 20px 0 40px;
}
thead {

	background: #555555;
	color: white;
	font-weight: bold;

}
td, th {
	
	border: 1px solid #000000;
	padding: 8px  15px ;

}


