
header {

	background: #bbbbbb;
	padding: 20px 0;
}
.caixa {
	position: relative;
	width:  940px;
	margin: 0 auto;

}

nav{

	position:  absolute;
	top: 110px;
	right: 0;
}
nav li {

	display: inline;
	margin: 0 0 0 15px;
}
nav a {

	text-transform: uppercase;
	color = #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}

.principal {

	
	padding: 30px;
}


.titulo-centralizado {

	text-align: center;
	font-weight: bold;
	font-size: 22px;
}


p {
	text-align: center;
	padding: 30px;

}

#missao {

	font-size: 20px;
}
em strong {

	color: #049DD9;

}
.itens{

	font-style: italic;
}
.especialidades {

	padding: 20px;


}

.espul {

	display: inline-block;
	vertical-align: top;
	width: 10%;
	margin-right: 30%;
}

.imagemespecialidades {

	width: 40%;
	padding: 30px;
}
.logo {

	width: 10%;
}