
body {

	
}
.cabecario {

	width: 100%;
}
.principal {

	background: #CCCCCC;
	padding: 30px;
}


.titulo-centralizado {

	text-align: center;
}


p {
	text-align: center;

}

#missao {

	font-size: 20px;
}
em strong {

	color: #049DD9;

}
.itens{

	font-style: italic;
}
.especialidades {

	padding: 20px;


}

ul {

	display: inline-block;
	vertical-align: top;
	width: 10%;
	margin-right: 30%;
}

.imagemespecialidades {

	width: 40%;
}
.logo {

	width: 10%;
}