header {

	background: #049DD9;
	padding: 20px 0;
}
.caixa {
	position: relative;
	width:  940px;
	margin: 0 auto;

}

nav{

	position:  absolute;
	top: 110px;
	right: 0;
}
nav li {

	display: inline;
	margin: 0 0 0 15px;
}
nav a {

	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}
nav a:hover{
	color: #FFFFFF;
	text-decoration: underline;

}
.banner {

	display: inline-block;
	padding: 20px 0;
	width:  1270px;
	margin: 20 auto;

}

.placas {

	display: inline-block;
	position: absolute;
	top: 150px;

	padding: 20px 0;
	width:  1270px;
	margin: 20 auto;
}
.titulo-one {

	display: inline-block;
	text-align: center;
	position: absolute;
	top: 480px;
	left: 250px;
	font-size: 22px

}

.descricao-one {

	display: inline-block;
	text-align: center;
	position: absolute;
	top: 520px;
	left: 285px;
	font-weight: bold;
}
.titulo-two {

	display: inline-block;
	text-align: center;
	position: absolute;
	top: 480px;
	left: 550px;
	font-size: 22px
}
.descricao-two{

	display: inline-block;
	text-align: center;
	position: absolute;
	top: 520px;
	left: 600px;
	font-weight: bold;
}
.titulo-three {

	display: inline-block;
	text-align: center;
	position: absolute;
	top: 480px;
	left: 880px;
	font-size: 22px
}
.descricao-three {

	display: inline-block;
	text-align: center;
	position: absolute;
	top: 520px;
	left: 910px;
	font-weight: bold;
}

footer {

	text-align: center;
	background: #049DD9;
	padding: 20px;
	color: #FFFFFF;
	font-weight: bold;
}
.rodape-descricao {

	display: inline-block;
	padding: 10px 8px;
}
.redesociais{

	display: inline-block;
	vertical-align: baseline;

}
.face{
	
	position:  relative;

	bottom: -6px;
	width: 2.5%;
    

}
.insta {
	position:  relative;

	bottom: -1px;
    width: 1.7%;
    
}